<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeforcesWidget">

        <activity
            android:name=".ui.ConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.CodeforcesWidget" />

        <activity-alias
            android:name=".ui.LauncherEmerald"
            android:enabled="true"
            android:exported="true"
            android:targetActivity=".ui.ConfigActivity" />

        <activity-alias
            android:name=".ui.LauncherIconEmerald"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".ui.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.LauncherOcean"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ocean"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_ocean"
            android:targetActivity=".ui.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.LauncherViolet"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_violet"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_violet"
            android:targetActivity=".ui.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.LauncherAmber"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_amber"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_amber"
            android:targetActivity=".ui.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.LauncherCrimson"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_crimson"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_crimson"
            android:targetActivity=".ui.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.LauncherTeal"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_teal"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_teal"
            android:targetActivity=".ui.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.LauncherRose"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_rose"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_rose"
            android:targetActivity=".ui.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.LauncherGold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gold"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_gold"
            android:targetActivity=".ui.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".widget.CodeforcesWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/codeforces_widget_info" />
        </receiver>

    </application>

</manifest>
